In [1]:
pip install pandas

Requirement already satisfied: pandas in d:\apps\anaconda\envs\day1\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in d:\apps\anaconda\envs\day1\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\apps\anaconda\envs\day1\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\apps\anaconda\envs\day1\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\apps\anaconda\envs\day1\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in d:\apps\anaconda\envs\day1\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# display the first five rows of the DataFrame.

import pandas as pd 

Countries = pd.read_csv(r"D:\Downloads\Countries.csv")
print(Countries.head())

           Country                               Region  Population  \
0     Afghanistan         ASIA (EX. NEAR EAST)             31056997
1         Albania                        EASTERN EUROPE     3581655
2         Algeria   NORTHERN AFRICA                        32930091
3  American Samoa   OCEANIA                                   57794
4         Andorra   WESTERN EUROPE                            71201

   Area (sq. mi.) Pop. Density (per sq. mi.) Coastline (coast/area ratio)  \
0          647500                       48,0                         0,00
1           28748                      124,6                         1,26
2         2381740                       13,8                         0,04
3             199                      290,4                        58,29
4             468                      152,1                         0,00

  Net migration Infant mortality (per 1000 births)  GDP ($ per capita)  \
0         23,06                             163,07               700.0
1         -4,93                              21,52              4500.0
2         -0,39                                 31              6000.0
3        -20,71                               9,27              8000.0
4           6,6                               4,05             19000.0

  Literacy (%) Phones (per 1000) Arable (%) Crops (%) Other (%) Climate  \
0         36,0               3,2      12,13      0,22     87,65       1
1         86,5              71,2      21,09      4,42     74,49       3
2         70,0              78,1       3,22      0,25     96,53       1
3         97,0             259,5         10        15        75       2
4        100,0             497,2       2,22         0     97,78       3

  Birthrate Deathrate Agriculture Industry Service
0      46,6     20,34        0,38     0,24    0,38
1     15,11      5,22       0,232    0,188   0,579
2     17,14      4,61       0,101      0,6   0,298
3     22,46      3,27         NaN      NaN     NaN
4      8,71      6,25         NaN      NaN     NaN

In [10]:
# show only the countries with a population greater than 100 million

LargeCountries = Countries[Countries['Population']>100000000]['Country'].tolist()
print(LargeCountries)

['Bangladesh ', 'Brazil ', 'China ', 'India ', 'Indonesia ', 'Japan ', 'Mexico ', 'Nigeria ', 'Pakistan ', 'Russia ', 'United States ']

In [15]:
#Filter the columns of the DataFrame to show only the name, region, and population columns

FilteredCountries = Countries[['Country', 'Region', 'Population']]
print(FilteredCountries.head(10))

              Country                               Region  Population
0        Afghanistan         ASIA (EX. NEAR EAST)             31056997
1            Albania                        EASTERN EUROPE     3581655
2            Algeria   NORTHERN AFRICA                        32930091
3     American Samoa   OCEANIA                                   57794
4            Andorra   WESTERN EUROPE                            71201
5             Angola   SUB-SAHARAN AFRICA                     12127071
6           Anguilla               LATIN AMER. & CARIB           13477
7  Antigua & Barbuda               LATIN AMER. & CARIB           69108
8          Argentina               LATIN AMER. & CARIB        39921833
9            Armenia                  C.W. OF IND. STATES      2976372

In [18]:
#. Sort the country details DataFrame in descending order based on Population.
SortedCountries = Countries.sort_values(by='Population', ascending=False)
print(SortedCountries)

                   Country                               Region  Population  \
42                  China         ASIA (EX. NEAR EAST)           1313973713
94                  India         ASIA (EX. NEAR EAST)           1095351995
214         United States   NORTHERN AMERICA                      298444215
95              Indonesia         ASIA (EX. NEAR EAST)            245452739
27                 Brazil               LATIN AMER. & CARIB       188078227
..                     ...                                  ...         ...
144                 Nauru   OCEANIA                                   13287
209                Tuvalu   OCEANIA                                   11810
140            Montserrat               LATIN AMER. & CARIB            9439
171          Saint Helena   SUB-SAHARAN AFRICA                         7502
174  St Pierre & Miquelon   NORTHERN AMERICA                           7026

     Area (sq. mi.) Pop. Density (per sq. mi.) Coastline (coast/area ratio)  \
42          9596960                      136,9                         0,15
94          3287590                      333,2                         0,21
214         9631420                       31,0                         0,21
95          1919440                      127,9                         2,85
27          8511965                       22,1                         0,09
..              ...                        ...                          ...
144              21                      632,7                       142,86
209              26                      454,2                        92,31
140             102                       92,5                        39,22
171             413                       18,2                        14,53
174             242                       29,0                        49,59

    Net migration Infant mortality (per 1000 births)  GDP ($ per capita)  \
42           -0,4                              24,18              5000.0
94          -0,07                              56,29              2900.0
214          3,41                                6,5             37800.0
95              0                               35,6              3200.0
27          -0,03                              29,61              7600.0
..            ...                                ...                 ...
144             0                               9,95              5000.0
209             0                              20,03              1100.0
140             0                               7,35              3400.0
171             0                                 19              2500.0
174         -4,86                               7,54              6900.0

    Literacy (%) Phones (per 1000) Arable (%) Crops (%) Other (%) Climate  \
42          90,9             266,7       15,4      1,25     83,35     1,5
94          59,5              45,4       54,4      2,74     42,86     2,5
214         97,0             898,0      19,13      0,22     80,65       3
95          87,9              52,0      11,32      7,23     81,45       2
27          86,4             225,3       6,96       0,9     92,15       2
..           ...               ...        ...       ...       ...     ...
144          NaN             143,0          0         0       100       2
209          NaN              59,3          0         0       100       2
140         97,0               NaN         20         0        80       2
171         97,0             293,3       12,9         0      87,1     NaN
174         99,0             683,2      13,04         0     86,96     NaN

    Birthrate Deathrate Agriculture Industry Service
42      13,25      6,97       0,125    0,473   0,403
94      22,01      8,18       0,186    0,276   0,538
214     14,14      8,26        0,01    0,204   0,787
95      20,34      6,25       0,134    0,458   0,408
27      16,56      6,17       0,084      0,4   0,516
..        ...       ...         ...      ...     ...
144     24,76       6,7         NaN      NaN     NaN
209     22,18      7,11       0,166    0,272   0,562
140     17,59       7,1         NaN      NaN     NaN
171     12,13      6,53         NaN      NaN     NaN
174     13,52      6,83         NaN      NaN     NaN

[230 rows x 20 columns]

In [21]:
# Rename the "Pop. Density (per sq. mi.)" column to "Population Density" and the"GDP ($ per capita)" column to "GDP" in the DataFrame

Countries.rename(columns={
    'Pop. Density (per sq. mi.)': 'Population Density',
    'GDP ($ per capita)': 'GDP'
}, inplace=True)

print(Countries)

             Country                               Region  Population  \
0       Afghanistan         ASIA (EX. NEAR EAST)             31056997
1           Albania                        EASTERN EUROPE     3581655
2           Algeria   NORTHERN AFRICA                        32930091
3    American Samoa   OCEANIA                                   57794
4           Andorra   WESTERN EUROPE                            71201
..               ...                                  ...         ...
225          Zambia   SUB-SAHARAN AFRICA                     11502010
226        Zimbabwe   SUB-SAHARAN AFRICA                     12236805
227           Yemen   NEAR EAST                              21456188
228          Zambia   SUB-SAHARAN AFRICA                     11502010
229        Zimbabwe   SUB-SAHARAN AFRICA                     12236805

     Area (sq. mi.) Population Density Coastline (coast/area ratio)  \
0            647500               48,0                         0,00
1             28748              124,6                         1,26
2           2381740               13,8                         0,04
3               199              290,4                        58,29
4               468              152,1                         0,00
..              ...                ...                          ...
225          752614               15,3                         0,00
226          390580               31,3                         0,00
227          527970               40,6                         0,36
228          752614               15,3                         0,00
229          390580               31,3                         0,00

    Net migration Infant mortality (per 1000 births)      GDP Literacy (%)  \
0           23,06                             163,07    700.0         36,0
1           -4,93                              21,52   4500.0         86,5
2           -0,39                                 31   6000.0         70,0
3          -20,71                               9,27   8000.0         97,0
4             6,6                               4,05  19000.0        100,0
..            ...                                ...      ...          ...
225             0                              88,29    800.0         80,6
226             0                              67,69   1900.0         90,7
227             0                               61,5    800.0         50,2
228             0                              88,29    800.0         80,6
229             0                              67,69   1900.0         90,7

    Phones (per 1000) Arable (%) Crops (%) Other (%) Climate Birthrate  \
0                 3,2      12,13      0,22     87,65       1      46,6
1                71,2      21,09      4,42     74,49       3     15,11
2                78,1       3,22      0,25     96,53       1     17,14
3               259,5         10        15        75       2     22,46
4               497,2       2,22         0     97,78       3      8,71
..                ...        ...       ...       ...     ...       ...
225               8,2       7,08      0,03      92,9       2        41
226              26,8       8,32      0,34     91,34       2     28,01
227              37,2       2,78      0,24     96,98       1     42,89
228               8,2       7,08      0,03      92,9       2        41
229              26,8       8,32      0,34     91,34       2     28,01

    Deathrate Agriculture Industry Service
0       20,34        0,38     0,24    0,38
1        5,22       0,232    0,188   0,579
2        4,61       0,101      0,6   0,298
3        3,27         NaN      NaN     NaN
4        6,25         NaN      NaN     NaN
..        ...         ...      ...     ...
225     19,93        0,22     0,29   0,489
226     21,84       0,179    0,243   0,579
227       8,3       0,135    0,472   0,393
228     19,93        0,22     0,29   0,489
229     21,84       0,179    0,243   0,579

[230 rows x 20 columns]

In [22]:
# Group the DataFrame by the "Region" column and get the maximum population values of each region

Region = Countries.groupby('Region')['Population'].max()

print(Region)

Region
ASIA (EX. NEAR EAST)                   1313973713
BALTICS                                   3585906
C.W. OF IND. STATES                     142893540
EASTERN EUROPE                           38536869
LATIN AMER. & CARIB                     188078227
NEAR EAST                                70413958
NORTHERN AFRICA                          78887007
NORTHERN AMERICA                        298444215
OCEANIA                                  20264082
SUB-SAHARAN AFRICA                      131859731
WESTERN EUROPE                           82422299
Name: Population, dtype: int64

In [24]:
# Merge the "countries of the world.csv" file with the "geo coordinates.csv" file and load it into a DataFrame

Coordinates = pd.read_csv(r"D:\Downloads\Coordinates.csv")

merge = pd.merge(Countries, Coordinates, on='Country', how='inner')

print(merge)

Empty DataFrame
Columns: [Country, Region, Population, Area (sq. mi.), Population Density, Coastline (coast/area ratio), Net migration, Infant mortality (per 1000 births), GDP, Literacy (%), Phones (per 1000), Arable (%), Crops (%), Other (%), Climate, Birthrate, Deathrate, Agriculture, Industry, Service, Importance, Altitude, Latitude, Longitude]
Index: []

[0 rows x 24 columns]

In [26]:
#Finding Missing values

missing_values = Countries.isnull().sum()

print(missing_values)

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Population Density                     0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP                                    1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

In [27]:
# Percentage of the missing values 

PercentagMissing = missing_values/len(Countries) * 100
print(PercentagMissing)

Country                               0.000000
Region                                0.000000
Population                            0.000000
Area (sq. mi.)                        0.000000
Population Density                    0.000000
Coastline (coast/area ratio)          0.000000
Net migration                         1.304348
Infant mortality (per 1000 births)    1.304348
GDP                                   0.434783
Literacy (%)                          7.826087
Phones (per 1000)                     1.739130
Arable (%)                            0.869565
Crops (%)                             0.869565
Other (%)                             0.869565
Climate                               9.565217
Birthrate                             1.304348
Deathrate                             1.739130
Agriculture                           6.521739
Industry                              6.956522
Service                               6.521739
dtype: float64

In [29]:
# Drop the rows from the DataFrame that have missing values in the "Agriculture" column?

Drop = Countries.dropna(subset=['Agriculture'])
print(Drop)

          Country                               Region  Population  \
0    Afghanistan         ASIA (EX. NEAR EAST)             31056997
1        Albania                        EASTERN EUROPE     3581655
2        Algeria   NORTHERN AFRICA                        32930091
5         Angola   SUB-SAHARAN AFRICA                     12127071
6       Anguilla               LATIN AMER. & CARIB           13477
..            ...                                  ...         ...
225       Zambia   SUB-SAHARAN AFRICA                     11502010
226     Zimbabwe   SUB-SAHARAN AFRICA                     12236805
227        Yemen   NEAR EAST                              21456188
228       Zambia   SUB-SAHARAN AFRICA                     11502010
229     Zimbabwe   SUB-SAHARAN AFRICA                     12236805

     Area (sq. mi.) Population Density Coastline (coast/area ratio)  \
0            647500               48,0                         0,00
1             28748              124,6                         1,26
2           2381740               13,8                         0,04
5           1246700                9,7                         0,13
6               102              132,1                        59,80
..              ...                ...                          ...
225          752614               15,3                         0,00
226          390580               31,3                         0,00
227          527970               40,6                         0,36
228          752614               15,3                         0,00
229          390580               31,3                         0,00

    Net migration Infant mortality (per 1000 births)     GDP Literacy (%)  \
0           23,06                             163,07   700.0         36,0
1           -4,93                              21,52  4500.0         86,5
2           -0,39                                 31  6000.0         70,0
5               0                             191,19  1900.0         42,0
6           10,76                              21,03  8600.0         95,0
..            ...                                ...     ...          ...
225             0                              88,29   800.0         80,6
226             0                              67,69  1900.0         90,7
227             0                               61,5   800.0         50,2
228             0                              88,29   800.0         80,6
229             0                              67,69  1900.0         90,7

    Phones (per 1000) Arable (%) Crops (%) Other (%) Climate Birthrate  \
0                 3,2      12,13      0,22     87,65       1      46,6
1                71,2      21,09      4,42     74,49       3     15,11
2                78,1       3,22      0,25     96,53       1     17,14
5                 7,8       2,41      0,24     97,35     NaN     45,11
6               460,0          0         0       100       2     14,17
..                ...        ...       ...       ...     ...       ...
225               8,2       7,08      0,03      92,9       2        41
226              26,8       8,32      0,34     91,34       2     28,01
227              37,2       2,78      0,24     96,98       1     42,89
228               8,2       7,08      0,03      92,9       2        41
229              26,8       8,32      0,34     91,34       2     28,01

    Deathrate Agriculture Industry Service
0       20,34        0,38     0,24    0,38
1        5,22       0,232    0,188   0,579
2        4,61       0,101      0,6   0,298
5        24,2       0,096    0,658   0,246
6        5,34        0,04     0,18    0,78
..        ...         ...      ...     ...
225     19,93        0,22     0,29   0,489
226     21,84       0,179    0,243   0,579
227       8,3       0,135    0,472   0,393
228     19,93        0,22     0,29   0,489
229     21,84       0,179    0,243   0,579

[215 rows x 20 columns]

In [31]:
#


# Calculate the mode of the 'Climate' column to get the most frequent value
climate_mode = Countries['Climate'].mode()[0]

Replace = Countries['Climate'].fillna(climate_mode, inplace=True)

print(Replace)

None

In [36]:
# Finding Duplicates


duplicate_count = Countries.duplicated().sum()

print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 3

In [38]:
# Drop duplicates

duplicates = Countries.drop_duplicates()

print(duplicates)

             Country                               Region  Population  \
0       Afghanistan         ASIA (EX. NEAR EAST)             31056997
1           Albania                        EASTERN EUROPE     3581655
2           Algeria   NORTHERN AFRICA                        32930091
3    American Samoa   OCEANIA                                   57794
4           Andorra   WESTERN EUROPE                            71201
..               ...                                  ...         ...
222       West Bank   NEAR EAST                               2460492
223  Western Sahara   NORTHERN AFRICA                          273008
224           Yemen   NEAR EAST                              21456188
225          Zambia   SUB-SAHARAN AFRICA                     11502010
226        Zimbabwe   SUB-SAHARAN AFRICA                     12236805

     Area (sq. mi.) Population Density Coastline (coast/area ratio)  \
0            647500               48,0                         0,00
1             28748              124,6                         1,26
2           2381740               13,8                         0,04
3               199              290,4                        58,29
4               468              152,1                         0,00
..              ...                ...                          ...
222            5860              419,9                         0,00
223          266000                1,0                         0,42
224          527970               40,6                         0,36
225          752614               15,3                         0,00
226          390580               31,3                         0,00

    Net migration Infant mortality (per 1000 births)      GDP Literacy (%)  \
0           23,06                             163,07    700.0         36,0
1           -4,93                              21,52   4500.0         86,5
2           -0,39                                 31   6000.0         70,0
3          -20,71                               9,27   8000.0         97,0
4             6,6                               4,05  19000.0        100,0
..            ...                                ...      ...          ...
222          2,98                              19,62    800.0          NaN
223           NaN                                NaN      NaN          NaN
224             0                               61,5    800.0         50,2
225             0                              88,29    800.0         80,6
226             0                              67,69   1900.0         90,7

    Phones (per 1000) Arable (%) Crops (%) Other (%) Climate Birthrate  \
0                 3,2      12,13      0,22     87,65       1      46,6
1                71,2      21,09      4,42     74,49       3     15,11
2                78,1       3,22      0,25     96,53       1     17,14
3               259,5         10        15        75       2     22,46
4               497,2       2,22         0     97,78       3      8,71
..                ...        ...       ...       ...     ...       ...
222             145,2       16,9     18,97     64,13       3     31,67
223               NaN       0,02         0     99,98       1       NaN
224              37,2       2,78      0,24     96,98       1     42,89
225               8,2       7,08      0,03      92,9       2        41
226              26,8       8,32      0,34     91,34       2     28,01

    Deathrate Agriculture Industry Service
0       20,34        0,38     0,24    0,38
1        5,22       0,232    0,188   0,579
2        4,61       0,101      0,6   0,298
3        3,27         NaN      NaN     NaN
4        6,25         NaN      NaN     NaN
..        ...         ...      ...     ...
222      3,92        0,09     0,28    0,63
223       NaN         NaN      NaN     0,4
224       8,3       0,135    0,472   0,393
225     19,93        0,22     0,29   0,489
226     21,84       0,179    0,243   0,579

[227 rows x 20 columns]

In [40]:
# Replace the value "EASTERN EUROPE" in the "Region" column with "EUROPE(EASTERN)"?

ReplaceRegion = Countries['Region'].replace('EASTERN EUROPE', 'EUROPE (EASTERN)')

print(ReplaceRegion.unique())

['ASIA (EX. NEAR EAST)         ' 'EUROPE (EASTERN)'
 'NORTHERN AFRICA                    '
 'OCEANIA                            '
 'WESTERN EUROPE                     '
 'SUB-SAHARAN AFRICA                 ' 'LATIN AMER. & CARIB    '
 'C.W. OF IND. STATES ' 'NEAR EAST                          '
 'NORTHERN AMERICA                   '
 'BALTICS                            ']

In [41]:
#Use a lambda function to create a new column in the DataFrame called 
# ‘Population Category’, that categorizes countries based on the ’population’ as below.
# ● High: population greater than 100 million
# ● Medium: population between 10 million and 100 million
# ● Low: population less than 10 million


# Define the lambda function to categorize the population
Countries['Population Category'] = Countries['Population'].apply(
    lambda x: 'High' if x > 100_000_000 else ('Medium' if x >= 10_000_000 else 'Low')
)

# Display the updated DataFrame with the new column
print(Countries[['Country', 'Population', 'Population Category']].head())

           Country  Population Population Category
0     Afghanistan     31056997              Medium
1         Albania      3581655                 Low
2         Algeria     32930091              Medium
3  American Samoa        57794                 Low
4         Andorra        71201                 Low