In [4]:
pip install numpy

Requirement already satisfied: numpy in d:\apps\anaconda\envs\day1\lib\site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
print("Hello world")

Hello world

In [5]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in d:\apps\anaconda\envs\day1\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\apps\anaconda\envs\day1\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\apps\anaconda\envs\day1\lib\site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in d:\apps\anaconda\envs\day1\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 985.5 kB/s eta 0:00:12
   -- ------------------------------------- 0.8/11.5 MB 1.0 MB/s eta 0:00:11
   -- ------------------------------------- 0.8/11.5 MB 1.0 MB/s eta 0:00:11
   ---- ----------------------------------- 1.3/11.5 MB 1.1 MB/s eta 0:00:09
   ----- ---------------------------------- 1.6/11.5 MB 1.2 MB/s eta 0:00:09
   ------ --------------------------------- 1.8/11.5 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 2.1/11.5 MB 1.3 MB/s eta 0:00:08
   --------- ------------------------------ 2.6/11.5 MB 1.3 MB/s eta 0:00:07
   ---------- ----------------------------- 2.9/11.5 MB 1.4 MB/s eta 0:00:07
   ----------- ---------------------------- 3.4/11.5 MB 1.4 MB/s eta 0:00:06
   ------------ --------------------------- 3.7/11.5 MB 1.5 MB/s eta 0:00:06
   -------------- ------------------------- 4.2/11.5 MB 1.5 MB/s eta 0:00:05
   ---------------- ----------------------- 4.7/11.5 MB 1.6 MB/s eta 0:00:05
   ------------------ --------------------- 5.2/11.5 MB 1.7 MB/s eta 0:00:04
   -------------------- ------------------- 5.8/11.5 MB 1.7 MB/s eta 0:00:04
   -------------------- ------------------- 6.0/11.5 MB 1.7 MB/s eta 0:00:04
   ---------------------- ----------------- 6.6/11.5 MB 1.7 MB/s eta 0:00:03
   ------------------------ --------------- 7.1/11.5 MB 1.8 MB/s eta 0:00:03
   ------------------------- -------------- 7.3/11.5 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 7.9/11.5 MB 1.8 MB/s eta 0:00:03
   ----------------------------- ---------- 8.4/11.5 MB 1.8 MB/s eta 0:00:02
   ------------------------------ --------- 8.9/11.5 MB 1.8 MB/s eta 0:00:02
   -------------------------------- ------- 9.4/11.5 MB 1.9 MB/s eta 0:00:02
   ---------------------------------- ----- 10.0/11.5 MB 1.9 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.5 MB 1.9 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 1.9 MB/s eta 0:00:00
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.2.3 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd 

titanic_details = pd.read_csv(r"D:\Downloads\titanic.csv")
print(titanic_details)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund  Mr. Owen Harris    male  22.0      1
1    Cumings  Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen  Miss. Laina  female  26.0      0
3         Futrelle  Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen  Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila  Rev. Juozas    male  27.0      0
887                       Graham  Miss. Margaret Edith  female  19.0      0
888           Johnston  Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr  Mr. Karl Howell    male  26.0      0
890                                Dooley  Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [ ]:
# GET PUT THE INFO INTO A DICTIONARY

passenger_details = titanic_details[['Name','Sex','Age','Cabin']].to_dict(orient='records')

for passenger in passenger_details[:10]:
    print(passenger)

{'Name': 'Braund  Mr. Owen Harris', 'Sex': 'male', 'Age': 22.0, 'Cabin': nan}
{'Name': 'Cumings  Mrs. John Bradley (Florence Briggs Thayer)', 'Sex': 'female', 'Age': 38.0, 'Cabin': 'C85'}
{'Name': 'Heikkinen  Miss. Laina', 'Sex': 'female', 'Age': 26.0, 'Cabin': nan}
{'Name': 'Futrelle  Mrs. Jacques Heath (Lily May Peel)', 'Sex': 'female', 'Age': 35.0, 'Cabin': 'C123'}
{'Name': 'Allen  Mr. William Henry', 'Sex': 'male', 'Age': 35.0, 'Cabin': nan}
{'Name': 'Moran  Mr. James', 'Sex': 'male', 'Age': nan, 'Cabin': nan}
{'Name': 'McCarthy  Mr. Timothy J', 'Sex': 'male', 'Age': 54.0, 'Cabin': 'E46'}
{'Name': 'Palsson  Master. Gosta Leonard', 'Sex': 'male', 'Age': 2.0, 'Cabin': nan}
{'Name': 'Johnson  Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'Sex': 'female', 'Age': 27.0, 'Cabin': nan}
{'Name': 'Nasser  Mrs. Nicholas (Adele Achem)', 'Sex': 'female', 'Age': 14.0, 'Cabin': nan}

In [16]:
#Total number of passengers

Total_number_of_passengers = len(titanic_details)
print("Total number of passengers:",Total_number_of_passengers)

Total number of passengers: 891

In [6]:
# Average age of the passengers onboard the Titanic


Average_age_of_passenger = round(titanic_details['Age'].mean(),2)
print("Average age of a passenger:",Average_age_of_passenger)

Average age of a passenger: 29.7

In [8]:
# Passengers who paid more than $300

highpaid = titanic_details[titanic_details['Fare']>300]['Name'].tolist()
print("Personals who paid more than $300",highpaid)

Personals who paid more than $300 ['Ward  Miss. Anna', 'Cardeza  Mr. Thomas Drake Martinez', 'Lesurer  Mr. Gustave J']

In [11]:
#Count the number of male passengers who survived in the first-class cabin.\

Males_WHo_Survived = titanic_details[(titanic_details['Sex']=='male')&(titanic_details['Survived']==1)&(titanic_details['Pclass']==1)].shape[0]
print("Male survivors in first class:",Males_WHo_Survived)

Male survivors in first class: 45

In [ ]:
# Number guessing
 
import random

Guess = random.randint(0,100)
Guess_attempt = 0

while True:
    Geussing = int(input("Welcome to Guessing game\nYou have 3 attempts\nGuess the Number:"))
    Guess_attempt += 1
    if (Geussing == Guess):
        print(f"Congratulations! After {Guess_attempt} attempts you found it")
        break
    elif (Geussing > Guess):
        print("Higher than the number!")
    else:
        print(" Lower than the number!")

60
 Lower than the number!
Congratulations! After 2 attempts you found it